* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 340px;
  border: 2px solid white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  background: rgba(255, 255, 255, 0.08);
  transition: all 0.35s ease;
  border-radius: 15px;
}

.card:hover {
  transform: translate(12px) scale(1.03);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.45);
}

.card img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #38bdf8;
  margin-bottom: 20px;
  transition: transform 0.4s;
}

.card img:hover {
  transform: scale(1.05);
}

.card h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}

p {
  color: #cbd5e1;
  line-height: 1.7;
  margin-bottom: 25px;
  font-size: 15px;
}

.card button {
  color: #fff;
  background-color: beige;
  padding: 12px 30px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}
.card button:hover {
  transform: scale(1.08);
  background: linear-gradient(135deg, #0ea5e9, #1d4ed8);
}
